{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'style/style.css' %}" />
		<title>Document</title>
	</head>
	<body>
		<header>
			<span class="logo">
				<img src="{% static 'media/logo.png' %}" alt="logo" />
			</span>
			<nav>
				<a href="#about-me">Обо мне</a>
				<a href="#services">Услуги</a>
				<a href="#reviews">Отзывы</a>
				<a href="#publicate">СМИ</a>
				<a href="#education">Образование</a>
				<a href="#footer">Контакты</a>
			</nav>
		</header>

		<main>
			<section id="about-me">
				<div class="photo-me">
					{% if about_me_photo.photo_about_me %}
					<img
						src="{{ about_me_photo.photo_about_me.url }}"
						alt="Фото обо мне"
					/>
					{% else %}
					<div
						style="width: 350px; height: 400px; background-color: #e0e0e0"
					></div>
					{% endif %}
				</div>
				<div class="text-of-about-me">
					<div class="general-information">
						<h1>Обо Мне</h1>
						{% if firstParagraph %}
						<p>{{ firstParagraph.firstParagraph }}</p>
						{% else %}
						<p>No first paragraph available.</p>
						{% endif %} {% if firstParagraph %}
						<p>{{ firstParagraph.secondParagraph }}</p>
						{% else %}
						<p>No second paragraph available.</p>
						{% endif %}
					</div>
					<div class="footnotes">
						<div class="block">
							<h1>9+</h1>
							<p>лет опыта</p>
						</div>
						<div class="block">
							<h1>3000+</h1>
							<p>консультационных часов</p>
						</div>
						<div class="block">
							<h1>500+</h1>
							<p>клиентов, которые решили свои запросы</p>
						</div>
					</div>
				</div>
			</section>

			<section id="reviews">
				<h1>Отзывы</h1>
				<div class="reviews-container">
					{% for review in reviews %}
					<div class="review-block">
						<p class="review-text">{{ review.text }}</p>
					</div>
					{% endfor %}
				</div>
			</section>

			<!-- index.html -->
			<section id="services">
				<h1>УСЛУГИ</h1>
				<div class="tabs">
					<button class="tab active" data-tab="individual">
						ИНДИВИДУАЛЬНАЯ РАБОТА
					</button>
					<button class="tab" data-tab="group">ГРУППОВАЯ РАБОТА</button>
				</div>

				<!-- Индивидуальная работа -->
				<div class="services-container" id="individual">
					{% for service in services %}
					<div class="service-block">
						<h2 class="service-title">{{ service.title }}</h2>
						<div class="service-info">
							<span>от {{ service.duration }}</span>
							<span
								>Длительность одной сессии — {{ service.session_length }}</span
							>
							<span>Формат: {{ service.format }}</span>
						</div>
						<div class="service-price">
							<strong>от {{ service.price }}</strong>
							{% if service.installment_available %}
							<p>Есть возможность рассрочки</p>
							{% endif %}
						</div>
						<p>{{ service.description }}</p>
						<a class="apply-button" href="#form">Оставить заявку</a>
					</div>
					{% endfor %}
				</div>

				<!-- Групповая работа -->
				<div class="services-container" id="group" style="display: none">
					{% for group in group_works %}
					<div class="service-block">
						<h2 class="service-title">{{ group.title }}</h2>
						<div class="service-info">
							<span>от {{ group.duration }}</span>
							<span
								>Длительность одной сессии — {{ group.session_length }}</span
							>
							<span>Формат: {{ group.format }}</span>
						</div>
						<div class="service-price">
							<strong>от {{ group.price }}</strong>
							{% if group.installment_available %}
							<p>Есть возможность рассрочки</p>
							{% endif %}
						</div>
						<p>{{ group.description }}</p>
						<a class="apply-button" href="#form">Оставить заявку</a>
					</div>
					{% endfor %}
				</div>
			</section>

			<section id="education">
				<h1>Образование</h1>
				<div class="slider-container">
					<button class="prev-btn">&#10094;</button>
					<div class="slider-wrapper">
						<div class="slider">
							{% for diploma in diplomas %}
							<div class="slide">
								<img src="{{ diploma.image.url }}" alt="{{ diploma.title }}" />
							</div>
							{% endfor %}
						</div>
					</div>
					<button class="next-btn">&#10095;</button>
				</div>
			</section>

			<section id="publicate">
				<h1>Публикации в СМИ</h1>
				<div class="publication-container">
					{% for publication in publications %}
					<div class="publication-block">
						<h2 class="publication-title">{{ publication.title }}</h2>
						<p class="publication-content">{{ publication.content }}</p>
						<span class="publication-date"
							>{{ publication.published_date|date:"d.m.Y" }}</span
						>
					</div>
					{% endfor %}
				</div>
			</section>
		</main>

		<!-- Contact Form Section -->
		<section class="contact-form-section" id="form">
			<div class="contact-form-container">
				<h2>Записаться на встречу</h2>
				<p>
					Оставьте свои данные, я свяжусь с вами в ближайшее время для
					обсуждения деталей
				</p>

				<form action="#" method="POST">
					{% csrf_token %}
					<input type="text" placeholder="Ваше имя" required />

					<div class="phone-input">
						<input
							id="phone"
							type="tel"
							placeholder="+7 (999) 999-99-99"
							required
						/>
					</div>

					<input type="email" placeholder="Ваш e-mail" required />
					<input
						type="text"
						placeholder="Ваш ник в телеграмме (без @)"
						required
					/>

					<div class="checkbox">
						<input type="checkbox" id="privacy-policy" required />
						<label for="privacy-policy">
							Я даю согласие на обработку своих персональных данных в
							соответствии с Политикой обработки персональных данных
						</label>
					</div>

					<div class="checkbox">
						<input type="checkbox" id="newsletter" />
						<label for="newsletter">
							Я даю согласие на получение рекламно-информационной рассылки
						</label>
					</div>

					<button type="submit">Отправить</button>
				</form>
			</div>
		</section>

		<!-- Footer Section -->
		<footer id="footer">
			<div class="footer-container">
				<div class="footer-contact">
					<p>Мой телеграм-канал и инстаграм</p>

					<p>ИП {{ lawyerInfo.IPname }}</p>
					<p>ИНН {{ lawyerInfo.InnInfo }} ОГРН {{ lawyerInfo.OgrnInfo }}</p>
					<p>Юридический адрес: {{ lawyerInfo.Adress }}</p>
					<p>Электронная почта: {{ lawyerInfo.email }}</p>
				</div>
				<!-- Правая часть футера -->
				<div class="footer-nav">
					<a href="#">Обо мне</a>
					<a href="#">С чем я работаю</a>
					<a href="#">Отзывы</a>
					<a href="#">Услуги</a>
					<a href="#">Образование</a>
					<a href="#">Принципы в работе</a>
					<a href="#">Я в СМИ</a>
				</div>
			</div>
		</footer>

		<script src="https://unpkg.com/imask"></script>
		<script src="{% static 'scripts/script.js' %}"></script>
	</body>
</html>
